<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}INDEX{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ content.text.getValue() }} <br />
            {{ content.image.getImagePath() }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
